/* color scheme - #E6EEF0 eisgrau, #6592A5 türk, #0D5572 ,
 #60757D navblau, #062734 logoblau, #d6e3e6 hover:fields*/
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}
body {
	font-size: 1em;
	color: #062734;
	background-color: #E6EEF0;
	font-family: 'Baskervville', serif;
}
#preise {
	font-size: 1em;
}
body >.container {
	padding-top: 80px;
}
p.alignleft {
	float: left;
}
p.alignright {
	float: right;
	text-align: right;
}
p.comment {
	font-size: 75%;
}
.contact-form {

	transition: all 4s eas-in-out;
}
.form-control {
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid #062734;
}
.form-control:focus {
	outline: none;
	background: transparent;
	border: 1px solid #6592A5;
	box-shadow: 0 0 0 0.2 rgba(101, 146, 165, .25);
}
#header-nav {
	background-color: #60757D;
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #062734;
}
#logo-img {
	background: url('../img/logo-medium.png') no-repeat;
	width: 100px;
	height: 100px;
	margin-right: 50px;
	float: left;
}
#index-img {
	background: url('../img/logo.png') no-repeat;
	border-color: white;
	border-style: solid;
	border-width: 3px;
}
.navbar-brand h1 {
	font-family: 'Baskervville', serif;
	color: #062734;
	font-size: 2vw;
	margin-top: 0px;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand p {
	color: #E6EEF0;
}
#nav-list a {
	text-decoration: none;
	color: #E6EEF0;
}
#nav-list a:hover {
	color: #062734
}
#nav-list {
	color: #E6EEF0;
	font-family: 'Baskervville', serif;
	font-size: 24px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #E6EEF0; 
	background-color: #6592A5;
}
** XL 
/*@media (min-width: 1200px) {
#logo-img {
	background: url('../img/logo.png') no-repeat;
	width: 200px;
	height: 200px;
}
** L 
@media (min-width: 992px) and (max-width: 1199px){
#logo-img {
	background: url('../img/logo.png') no-repeat;
	width: 200px;
	height: 200px;
}
#nav-list {
	font-size: 1.5vw;*/
}
/** XS & S & M **/
@media (min-width: 1px) and (max-width: 767px) {
#logo-img {
	background: url('../img/logo-medium.png') no-repeat;
	width: 100px;
	height: 100px;
}
#nav-list {
	font-size: 2vw;
}
}
/* Kontaktformular */
#feedback-page{
	text-align: center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(96,117,125,0.2);
	padding-left:15px;
	padding-right:15px;
	padding-top:35px;
	padding-bottom:35px;
	width: 100%;
	float: left;
	left: %;
	position: ;
	margin-top:30px;
	margin-left: ;
	border-radius: 0px;
}

.montform .feedback-input {
	color:#062734;
	font-family: 'Baskervville', serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fff;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}
/*Inputs styles */
.montform .feedback-input:focus{
	background: #fff;
	border: 3px solid #6592A5;
	color: #6592A5;
	outline: none;
  padding: 13px 13px 13px 54px;
}


/* Icons ---------------------------------- */
.montform  #name{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #name:focus{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-address-book.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #email{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #email:focus{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-mail.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  #comment{
	background-image: url(https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/svgs/fi-pencil.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

.montform  textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

.montform  input:hover, .montform  textarea:hover {
	background-color: #d6e3e6;
}
.montform  input:focus, .montform  textarea:focus {
	background-color:#E6EEF0;
}

.button-blue{
	font-family: 'Baskervville', serif;
	float:left;
	width: 100%;
	border: #062734 solid 4px;
	cursor:pointer;
	background-color: #60757D;
	color: #062734;
	font-size:24px;
	padding-top:22px;
	padding-bottom:12px;
	transition: all 0.3s;
	font-weight:700;
}

.button-blue:hover{
	background-color: rgba(101, 162, 165, 0.5);
	color: #062734;
}
	
.montform  .submit:hover {
	color: #E6EEF0;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #062734;
	transition: 0.5s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}